

.homeMainbody{
    position: relative;
    width: 100%;

    
               
   .wrapper{
    position: relative;width: 1200px;height: 470px;margin: 0 auto;
       //轮播图右边
       .lbt-right{
        position: absolute;
       top: 0;
       right: 0px;
        width: 190px;
        height: 470px;
        background-color: white;
        z-index: 99;
        li{ height: 33%;
            list-style: none;
        }

    }
      //全部商品分类
      .menu {

z-index: 99;
        position: absolute;
        top: 0px;
        left: 0px;
                width: 190px;
                height: 470px;
                border: none;
                li{
                    padding: 5px;
                    list-style: none;
                    float: left;
    width: 180px;
    height: 69px;
    background: #fff;
    border-bottom: 1px solid #e4e4e4;
    .active {
        background-color: #3b3b3b;
    }

                }
                .cartlist {
                    position: absolute;
                    left: 190px;
                    top: 0;
                    width: 998px;
                    min-height: 468px;
                    border: 1px solid #f7f7f7;
                    background-color: #fff;
                    box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
                    display: none;
                    transition: top 0.3s ease;
                
                }
                
            }
    .banner{
        width: 1200px;height: 470px;overflow: hidden;
        .imgList{
            width:1200px;height:470px;z-index: 10;
            li{position: absolute;
                left: -160px;
                display: none;
                list-style: none;
                overflow: hidden;
                
                .imgOn{display: inline;
                }
            }
        }
            .bg{
            position: absolute;
            
            bottom: 0;width: 1200px;height: 470px;z-index:20;opacity: 0.4;filter:alpha(opacity=40);background: black;
            }
            .infoList{
            position: absolute;left: 10px;bottom: 10px;z-index: 30;
            li{
            display: none;
            }
            }
            .infoOn{
            display: inline;color: white;
            }
            .indexList{
            position: absolute;
            right: 45%;
            bottom: 5px;z-index: 99;
            text-align: center;
            color: white;
            li{width: 20px;
                height: 20px;
                margin-right: 5px;
                cursor: pointer;
                border-radius: 20px;
                color: red($color: #ffffff);
                list-style: none;
                float: left;
                
            }
            .indexOn{
               opacity: .5;
                background: red;font-weight: bold;
                
            

                    }
                }

            }
}



}
//主盒子
.mainWrap{
    width: 100%;
    background: #f9f9f9;
    padding: 10px 0;
    overflow: hidden;
    position: relative;
  
    .mainBox{  
       
        width: 1200px;
        margin: 0 auto;
    background: #f9f9f9;
    position: relative;
    //第一块
    .contentFirst{
        width: 100%;
        position: relative;
        z-index: 1;
        //第一块左边
        .indexTabBox{
            width: 920px;
            height: 534px;
            float: left;
            
            .indexTabNav{width: 920px;
                overflow: hidden;
                height: 38px;
                position: relative;
               
                
                li{
                    float: left;
                    list-style: none;
    width: 182px;
    height: 35px;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: rgb(102, 102, 102);
    font-family: 微软雅黑;
    border-left: 1px solid rgb(236, 236, 236);
    border-right: 1px solid rgb(236, 236, 236);
    border-bottom: 1px solid rgb(236, 236, 236);
    border-top: 2px solid rgb(236, 236, 236);
    background: rgb(249, 249, 249);
                }
                li:last-child{
                    border-left: none;
                }
                .nav_active{
                  background: #fff;
                  border-top: 2px solid red;
                    
                }
            }
            .indexTabMain{
                .nav_item{
                    display: none;
                    .shopdiv{
                        float: left;
                        width: 174px;
                        margin-top: 20px;
                        margin-left: 10px;
                    }
                 
                }
               
            }
           
        }
        //右边
        .indexTabBoxRight{
            width: 270px;
            float: right;
            height: 500px;
            .indexTabNew {
                width: 270px;
                height: 140px;
                background: #fff;
                overflow: hidden;
                .indexTabNewNav {
                    height: 35px;
                    position: relative;
                    li{
                        float: left;
                        list-style: none;
                        font-size: 16px;
    font-family: "微软雅黑";
    color: #666;
    text-align: center;
    width: 133px;
    height: 35px;
    border: 1px solid #ececec;
    line-height: 35px;

    cursor: pointer;
    background: #f9f9f9;
                    }
                }
            }
            
            .indexTabNewCon {
                border: 1px solid #ececec;
                border-top: none;
                height: 94px;
                padding-top: 10px;
              
            }
            .indexTabCon{
                width: 100%;
                height: 100%;
                li{
                    float: left;
    width: 114px;
    margin-left: 10px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 28px;
                }

            }

           
        }

        // 小轮播图
      .lunbo{
        width: 268px;
        height: 157px;
        border: 1px solid #ececec;
        background: #fff;
        overflow: hidden;
        position: relative;
        z-index: 1;
        margin-top: 20px;

        ol{
            position: absolute;
            left: 50%;
            bottom: 20px;
            width: 125px;
            margin-left: -62px;
            li{
                width: 10px;
                height: 10px;
                background-color: #ccc;
                border-radius: 50%;
                margin-right: 5px;
                float: left;
                text-indent: -999em;
                cursor: pointer;
               
            }
            .active1{
                background-color: orange ;
                
            }

        }
        img{
            width: 268px;
            height: 157px;
            display: block;
        }
        ul{width: 268px*3;
            height: 157px;
            position: absolute;
            left: 0px;
            top: 0px;
            li{
                float: left;
                list-style: none;
            }
        }
        .left,
        .right {
            font-size: 60px;
            color: rgb(170, 47, 47);
            text-decoration: none;
            position: absolute;
            top: 50%;
            margin-top: -30px;
            display: none;
        }
        .left {
            left: 25px;
        }
        .right {
            right: 25px;
        }
    
      }
      //swiper轮播
      .swiper-container{
        width: 268px;
        height: 157px;
        border: 1px solid #ececec;
        background: #fff;
        overflow: hidden;
        position: relative;
        z-index: 1;
        margin-top: 20px;


      }
    }
    }
}
//疯狂抢购
.loadFirst{
    width: 1200px;
    margin: 0 auto;
    //广告
    .floorBanner{
        height: 130px;
    position: relative;
    z-index: 0;
    width: 100%;
    overflow: hidden;
background: url('http://img08.jiuxian.com/bill/2018/1204/9b19420219414ce08737eb0b327a7afd.jpg');
p{
    margin: 0 0 0 90px;
    width: 290px;
    height: 126px;
    float: left;
}

    }
    //优惠推荐
    .raceBox{
        height: 280px;
        .titlebox {
 
            height: 40px;
            line-height: 40px;
            background: #f9f9f9;
            padding: 0 3px;
            .title_2{
                margin: 10px 0 0 0;
    float: left;

    height: 20px;
    line-height: 20px;
    font-size: 0;
    i{
        background-position: 0 0;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    }
    span{
        display: inline-block;
    vertical-align: middle;
    font-size: 17px;
    color: #333;
    font-family: "微软雅黑";
    margin-left: 10px;
    }
            }
        }
        .rightNavBox{
            float: right;
            height: 9px;
            margin-top: 20px;
            font-size: 0;
            line-height: 0;
            .rbox{
                background-color: red;
            }
            span{
                display: inline-block;
    vertical-align: middle;
    width: 9px;
    height: 9px;
    overflow: hidden;
    background: #cccccc;
    margin-left: 14px;
    cursor: pointer;
            }
        }

        .swiper-container2{
            width: 1200px;
            padding: 0 4px;
            float: left;
            overflow: hidden;
            height: 257px;
            background-color:#fff ;
            .swiper-wrapper{
                width: 1200px !important;
                height: 257px;
              
            }

            li{
                list-style: none;
                float: left;
    width: 198px;
    padding: 20px 0 10px 0;

    position: relative;
    z-index: 1;
            }
        }
    
    
    }

    //F1
    .F1{
        height: 510px;
        margin-top: 50px;
        .titlebox{
            height: 40px;
            line-height: 40px;
            background: #f9f9f9;
            padding: 0 3px;
            .comTitle{
                .comIcon1 {
                    background-position: 0 -95px;
                }
                float: left;
            i
            {
                width: 28px;
    height: 29px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    font-family: Arial;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 29px;
    font-style: normal;
            }
                span{
                    display: inline-block;
    vertical-align: middle;
    color: #333;
    font-size: 17px;
    margin-left: 10px;
    font-family: "微软雅黑";
                }
            }
            //白酒管顶部文字
            .rightMenu{
                float: right;
    margin-left: 50px;

    color: #999;
            }
        }

        //主体
        .spiritWrap{
            border-left: 1px solid #ececec;
            border-right: 1px solid #ececec;
            border-bottom: 1px solid #ececec;
            border-top: 2px solid #c94b56;
            height: 485px;
            overflow: hidden;
            width: 1198px;
            .bannerSlier {
                height: 485px;
                width: 210px;
                position: relative;
                overflow: hidden;
                float: left;
            }

            .swiper-wrapper{
                height: 485px;

 
 
            }
            //内容
            .spiritList {
                background: #fff;
                width: 988px;
                float: right;
                height: 485px;
                overflow: hidden;
                position: relative;
                li{
                    list-style: none;
                    float: left;
                    width: 226px;
                    height: 232px;
                    border-bottom: 1px solid #ececec;
                    border-left: 1px solid #ececec;
                    position: relative;
                    padding: 10px;
                 
                    z-index: 1;
                    img{
                        display: block;
                        margin-left: 40px;
                        margin-bottom: 5px;
                    }
                    
                }
            }
            //

        }
    }
  



}

//footer

//楼梯效果
#loutinav {
    width: 30px;
    position: fixed;
    top: 100px;
    left: 50px;
   z-index: 9999;
   display: none;
    li{ 
        width: 30px;
        height: 30px;
        background: rgb(163, 163, 163);
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    
    }
    .active2{
        background: red;
       
    }
    
    
    
}

