@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
}

body .publicIcon {
  width: 17px;
  height: 17px;
  display: inline-block;
  margin: 0 3px;
}

body a {
  text-decoration: none;
  color: #5c5858;
}

body header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f2f2f2;
  height: 20px;
}

body header .header {
  width: 1500px;
}

body header .header .header-top-left {
  float: left;
}

body header .header .header-top-right {
  height: 26px;
  float: right;
}

body header .header .header-top-right li {
  display: flex;
  list-style: none;
  height: 26px;
  float: left;
  padding: 0 5px;
  position: relative;
}

body header .header .header-top-right i {
  overflow: hidden;
}

body .guanggaoImg {
  display: block;
  margin: 0 auto;
}

body .midHeader {
  width: 100%;
}

body .midHeader .midHeaderCon {
  height: 125px;
  width: 1200px;
  margin: 0 auto;
  background-color: white;
}

body .midHeader .midHeaderCon .headerLogo {
  width: 257px;
  height: 65px;
  display: inline-block;
  margin-top: 30px;
  overflow: hidden;
}

body .midHeader .midHeaderCon .headerLogo p {
  float: left;
  text-align: left;
}

body .midHeader .midHeaderCon .headerLogo p .img1 {
  width: 137px;
  height: 65px;
}

body .midHeader .midHeaderCon .headerLogo p .img2 {
  width: 110px;
  height: 65px;
}

body .midHeader .midHeaderCon .headerLogo .jxwLogo {
  width: 137px;
  height: 65px;
  margin-right: 10px;
  display: inline-block;
}

body .navWrap {
  width: 100%;
  height: 34px;
  background: #900;
  position: relative;
}

body .navWrap .nav {
  width: 1200px;
  margin: 0 auto;
  height: 34px;
}

body .navWrap .nav .navCategoryMenu {
  width: 190px;
  float: left;
  position: relative;
  z-index: 200;
}

body .navWrap .nav .navCategoryMenu .lbt-right {
  position: absolute;
  top: 34px;
  left: 984px;
  width: 190px;
  height: 470px;
  background-color: white;
}

body .navWrap .nav .navCategoryMenu .lbt-right img {
  width: 190px;
  height: 470px;
}

body .navWrap .nav .navCategoryMenu h2 {
  width: 190px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
  font-family: 微软雅黑;
  font-size: 14px;
  color: white;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 2px 5px;
  background: #ce171f;
}

body .navWrap .nav .navCategoryMenu .menu {
  position: absolute;
  top: 34px;
  left: 0px;
  width: 190px;
  height: 470px;
  border: none;
}

body .navWrap .nav .navCategoryMenu .menu li {
  list-style: none;
  float: left;
  width: 190px;
  height: 66px;
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
}

body .navWrap .nav .navCategoryMenu .menu li .active {
  background-color: #3b3b3b;
}

body .navWrap .nav .navCategoryMenu .menu li a {
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

body .navWrap .nav .navCategoryMenu .menu li span {
  padding: 0 2px;
  font-size: 12px;
}

body .navWrap .nav .navCategoryMenu .cartlist {
  position: absolute;
  left: 191px;
  top: 0;
  width: 998px;
  min-height: 468px;
  border: 1px solid #f7f7f7;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  display: none;
  transition: top 0.3s ease;
}

body .navWrap .nav .navCategoryMenu .item {
  padding: 20px;
  display: none;
}

body .navWrap .nav .navList {
  width: 890px;
  height: 34px;
  float: left;
}

body .navWrap .nav .navList li {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  text-align: center;
  position: relative;
  z-index: 203;
  padding: 0 22px;
  color: white;
}

body .homeMainbody {
  width: 100%;
}

body .homeMainbody .wrapper {
  position: relative;
  width: 1600px;
  height: 470px;
  margin: 0 auto;
}

body .homeMainbody .wrapper .banner {
  width: 1600px;
  height: 470px;
  overflow: hidden;
}

body .homeMainbody .wrapper .banner .imgList {
  width: 1600px;
  height: 470px;
  z-index: 10;
}

body .homeMainbody .wrapper .banner .imgList li {
  display: none;
  list-style: none;
}

body .homeMainbody .wrapper .banner .imgList li .imgOn {
  display: inline;
}

body .homeMainbody .wrapper .banner .bg {
  position: absolute;
  bottom: 0;
  width: 1600px;
  height: 470px;
  z-index: 20;
  opacity: 0.4;
  filter: alpha(opacity=40);
  background: black;
}

body .homeMainbody .wrapper .banner .infoList {
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 30;
}

body .homeMainbody .wrapper .banner .infoList li {
  display: none;
}

body .homeMainbody .wrapper .banner .infoOn {
  display: inline;
  color: white;
}

body .homeMainbody .wrapper .banner .indexList {
  position: absolute;
  right: 45%;
  bottom: 5px;
  z-index: 300;
  text-align: center;
  color: white;
}

body .homeMainbody .wrapper .banner .indexList li {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 20px;
  color: 255;
  list-style: none;
  float: left;
}

body .homeMainbody .wrapper .banner .indexList .indexOn {
  background: red;
  font-weight: bold;
}

body .mainWrap {
  width: 100%;
  background: #f9f9f9;
  padding: 10px 0;
  overflow: hidden;
  position: relative;
}

body .mainWrap li {
  float: left;
  list-style: none;
  width: 184px;
  height: 35px;
  font-size: 16px;
  text-align: center;
}

body .mainWrap .mainBox {
  width: 1200px;
  margin: 0 auto;
  background: #f9f9f9;
  position: relative;
}

body .mainWrap .mainBox .contentFirst {
  width: 100%;
  position: relative;
  z-index: 1;
}

body .mainWrap .mainBox .contentFirst .indexTabBox {
  width: 920px;
  height: 500px;
  float: left;
}

body .mainWrap .mainBox .contentFirst .indexTabBox .indexTabNav {
  width: 920px;
  overflow: hidden;
  height: 38px;
  position: relative;
}

body .mainWrap .mainBox .contentFirst .indexTabBox .indexTabNav li {
  width: 182px;
  height: 35px;
  cursor: pointer;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: #666666;
  font-family: 微软雅黑;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-top: 2px solid #ececec;
  background: #f9f9f9;
}

body .mainWrap .mainBox .contentFirst .indexTabBox .indexTabNav li:last-child {
  border-left: none;
}

body .mainWrap .mainBox .contentFirst .indexTabBox .indexTabNav .nav_active {
  background: #fff;
  border-top: 2px solid red;
}

body .mainWrap .mainBox .contentFirst .indexTabBox .indexTabMain .nav_item {
  display: none;
}

body .mainWrap .mainBox .contentFirst .indexTabBox .indexTabMain img {
  width: 920px;
}

body .mainWrap .mainBox .contentFirst .indexTabBoxRight {
  width: 270px;
  float: right;
  height: 500px;
}
