*{
    margin: 0;
    padding: 0;
  
}
body{
    font-size: 12px;
}

li{
    list-style: none;
}
.wrap{
    width: 100%;
    background: #fafafa;
    min-width: 1000px;
}
/* 头部 */
header{
    width: 100%;
    background: #fff;
    height: 88px;
    box-shadow: 1px 2px 6px #e1e1e1;
    position: relative;
}
.head{
    width: 1000px;
    height: 88px;
    margin: 0 auto;
}
/* 头部左边 */
.logo{
    float: left;
    height: 63px;
    margin-top: 15px;
    width: 257px;
}
.slogan{
    width: 117px;
    float: right;
}
.logo-1{
    width: 140px;
    float: left;
}
.logo-1 img{
    width: 140px;
}
/* 头部右边 */

.head-nav{
    width: 77px;
    height: 14px;
    line-height: 14px;
    float: right;
    margin: 48px 0 0 20px;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    z-index: 10;
    color: #666;
}
.head-icon{
    width: 77px;height: 14px;
    z-index: 2;

}

.head-icon span{
    float: left;
    display: inline-block;

    margin-right: 6px;
    
}
.jt{
    float: left;
    display: inline-block;
    width: 15px;
    height: 14px;
    background: url(../img/regLogin-8.png)no-repeat -23px 0;

}
.head-nav .pop{
    position: absolute;
    border: 1px solid #ccc;
    top: -6px;
    left: -10px;
    width: 85px;
    z-index: 1;
    padding-top: 26px;
    z-index: 1;
    display: none;

}
.pop li{
    border-top: 1px dotted #ccc;
    padding-left: 10px;
    height: 24px;
    line-height: 24px;
    background: #fff;
    
}
.reg{
    font-size: 12px;
    float: right;
    color: #999;
    margin-top: 48px;
    height: 14px;
    line-height: 14px;
}
.reg a{
    
    color: #0066cc;
    margin-left: 20px;
}
/* 内容 */
.regBg{
    
    width: 100%;
    padding: 0 0 50px;
    height: 600px;

padding-top: 70px;
position: relative;
}


/* footer */
footer{
    width: 100%;
    padding: 10px 0 0
}
.foot {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.foot p{
    line-height: 30px;
    color: #333;
}
.red{
    color: #ff0000 !important;
}

/*  */

.content-layout {
    background: url(https://img10.jiuxian.com/bill/2019/0321/52e02a1c4948477da463dcf88915ad87.jpg)no-repeat scroll center top;
    width: 1500px;
    margin: 0 auto;
    overflow: hidden;
    height: 600px;
    z-index: 2;
position: relative;
    }

    .layoutBox{

        background-color: #fff;
        overflow: hidden;
        position: relative;
        width: 350px;
        height: 405px;
        top: 100px;
        left: 900px;
      
    }      

    .loginCon{
        width: 270px;
        margin-left: 40px;
    }
    .loginTit{
        margin: 14px 0 19px;
        height: 40px;
        overflow: hidden;
        line-height: 40px;
        border-bottom: 1px solid #e9e9e9;
    }
    .loginTit a.on {
        color: #e4393c;
        font-weight: bold;
    }
    .loginTit a {
        float: left;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        color: #999;
        font-size: 16px;
    }
    .loginTit span {
        float: left;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        font-size: 12px;
        color: #999;
        padding: 0 18px;
    }
    .loginType {
        height: 267px;
        border-bottom: 1px dotted #ccc;
        overflow: hidden;
        margin-left: 40px;
    }
    .Frame {
        width: 270px;
        height: 42px;
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 20px;
    }
    .Frame .filter {
        width: 43px;
        height: 42px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }
    .Frame .filter .userIconBox {
        display: inline-block;
        width: 43px;
        height: 40px;
        background: #f3f3f3;
        position: absolute;
        top: 1px;
        left: 1px;
        z-index: 3;
        border-right: 1px solid #dcdcdc;
        
    }
  
  .userIcon {
    position: absolute;
        width: 30px;
        height: 30px;
        background: url(../img/regLogin-8.png)no-repeat -48px 0;
        margin: 10px 10px 0 11px;
        z-index: 40;
    }
    .enterFrame #text {
        width: 173px;
        padding: 0 45px 0 50px;
    }
    .Frame #text {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
        background: none;
        font-weight: 700;
    }

    .Frame input {
        height: 40px;
        line-height: 40px;
        color: #999;
        border: 1px solid #dcdcdc;
        font-size: 16px;
    }
    .mistakeTip02 {
        padding: 0 10px;
        height: 20px;
        color: #fff;
        line-height: 20px;
        position: absolute;
        bottom: -15px;
        right: 0;
        z-index: 5;
    }
    .mistakeTip {
        padding: 0 10px;
        height: 20px;
        color: #fff;
        line-height: 20px;
        position: absolute;
        bottom: -15px;
        right: 0;
        z-index: 5;
    }
    .Frame .filter p {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        font-size: 16px;
        margin-top: 11px;
        color: #ccc;
        position: absolute;
        left: 0;
        top: 0;
        width: 200px;
        padding-left: 55px;
        z-index: 5;
    }
    .loginBtn{
        margin-bottom: 15px;

    }
    .loginBtn input {
        width: 270px;
        background-color: #e10303;
        color: #fff;
        border-radius: 2px;
        border: 0;
        cursor: pointer;
        font-family: "Microsoft Yahei";
        height: 40px;
        font-size: 16px;
    }
    .loginCon .moreChoice {
        margin-bottom: 16px;
     
    }
    .moreChoice .clearfix{
        width: 270px;
        height: 16px;
    }
    .moreChoice .auto {
        float: left;
        width: 270px;
    }.moreChoice .auto input {
        height: auto;
        border: 0;
    }
    .moreChoice .freeReg {
        color: #0066cc;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        float: right;
        padding-left: 13px;
    }
    .moreChoice .forgetPwd {
        float: right;
    }
    /* 合作 */
    .cooperate{
        width: 320px;margin-left: 40px;
    }
    .cooperate p {
        margin: 22px 15px 0 0;
        float: left;
        /* color: #999; */
    }
    .cooperateWay {
        width: 243px;
        height: 42px;
        margin: 0 auto;
        
    }
    .cooperateWay .qq i {
        background-position: 0 -35px;
        margin-left: 0;
    }
    .cooperateWay a i {
        float: left;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 30px;
        height: 30px;
        margin-left: 12px;
        margin-top: 16px;
    }
    .qq i{
        background: url(../img/regLogin-8.png)no-repeat 0px -35px;
    }
    .sina i{
      
        background: url(../img/regLogin-8.png)no-repeat -51px -35px;
    }
    .aliPay i{
        background: url(../img/regLogin-8.png)no-repeat -102px -35px;
    }
    .baidu i{
        background: url(../img/regLogin-8.png)no-repeat -153px -35px;
    }